.modal-content{
    background-color: #333;
}
.custom-input{
    background: #444;
}
#submit-btn, #cancel-btn{
    border-radius: 30px;
    transition: all .1s ease-out;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all .1s ease-out;
}
#cancel-btn{
    background-color: #444;
    color: #ddd;
}
#submit-btn{
    background-color: #7851A9;
    color: #fff;
}
#submit-btn:hover, #cancel-btn:hover{
    opacity: .7;
}