#splash{
    position: absolute;
    top: 66px;
    left: 0%;
    height: 45vh;
    width: 100vw;
    background-color: #333;
    display: flex;
}
#splash .watermark{
    font-size: 10rem;
    color: rgba(255, 255, 255, .08);
    font-weight: bold;
    position: absolute;
    right: 0px;
    width: 100%;
    pointer-events: none;
}
#splash .watermark .alpha-icon{
    border: 6px solid rgba(255, 255, 255, .08);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
}
#splash .call-to-act{
    margin-left: 8rem;
    left: 10px;
}
#splash .big-text{
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    display: flex;
    justify-self: end;
    align-self: end;
}
#splash .call-to-act a.btn{
    transition: all .05s ease-out;
    border-radius: 50px;
    font-weight: bold;
}
.call-to-act .action-btns>a.btn:nth-child(1){
    color: #484149;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, .3);
    box-shadow: 0px 1px 3px 1px rgba(60, 64, 67, .15);
}
.call-to-act .action-btns>a.btn:nth-child(2){
    color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(255, 255, 255, .1);
}

#splash .call-to-act a.btn:hover{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .15);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, .3);
}

/* How it works section */
#about{
    position: relative;
    top: calc(66px + 45vh);
    background: none;
}

#about #logo{
    font-weight: bold;
    font-size: 2.5rem;
}
#about .alpha-icon{
    padding: 0px 10px;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border: 2px solid rgb(33, 37, 41);;
    border-radius: 4px;
}

#how-it-works{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.how-steps{
    display: flex;
    flex-direction: column;
    transition: all .15s ease-out;
}
.how-steps:nth-child(odd){
    /* background: rgba(120, 81, 169, .22);
    color: #563a78; */
    background-color: #333;
}
.how-steps:nth-child(even){
    border: 1px solid rgba(120, 81, 169, .22);
    background-color: #222;
}
.how-steps img{
    border: 1px solid rgba(120, 81, 169, .12);
}
.how-steps:hover{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .15);
    /* box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .2); */
}
.how-steps img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0px auto;
}
.how-steps>p{
    font-size: 1.5rem;
}
.how-steps .small{
    font-size: .8rem;
}

.call-to-act2>a.btn{
    color: #fff;
    font-size: 1.8em;
    border-radius: 50px;
    transition: all .15s ease-out;
    color: #7851A9;
}
/* .call-to-act2>a.btn:nth-child(1){
    border: 1px solid #ccc;
}
.call-to-act2>a.btn:nth-child(1):hover{
    background-color: #fff;
} */
.call-to-act2 a.btn:nth-child(1){
    background-color: #7851a9;
    color: #fff;
}

.call-to-act2>a.btn:hover{
    opacity: .7;
}

@media (max-width: 768px){
    #how-it-works{
        grid-template-columns: 1fr;
    }
}