<section id="splash">
    <div class="row">
        <div class="watermark py-2 text-right">
            <span class="text-center" style="writing-mode: vertical-lr; text-orientation: upright; font-size: 1.8rem;">
                ALFA
            </span>
            <span class="alpha-icon px-5">
                &alpha;
                <span class="alpha-icon px-5">
                    &alpha;
                </span>
                &alpha;
            </span>
        </div>
        <div class="call-to-act pl-5 my-auto">
            <div class="big-text">
                Automated<br>Log File Analyzer
            </div>
            <a routerLink="/" class="btn btn-default bg-white btn-lg mt-3">
                Analyze Log File
            </a>
        </div>

    </div>
</section>
<section class="row" id="about">
    <div class="col-sm-10 mx-auto text-center">
        <h4 id="logo" class="mb-5">
            <span class="alpha-icon">
                &alpha;
            </span>
            ALFA
        </h4>
        <h4 style="font-weight: bold;">
            <p class="text-muted">Something catchy?</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia accusantium vitae beatae at quis illum dignissimos cupiditate, voluptas magni? Maiores in aliquid magnam laborum dolorum vel vitae, numquam nobis.
        </h4>
    </div>
    <div class="col-sm-12 p-4">
        <div class="step-one">
            
        </div>
        <div class="step-one"></div>
        <div class="step-one"></div>
    </div>
</section>