<section id="splash">
    <div class="row">
        <div class="watermark py-2 text-right">
            <span class="text-center" style="writing-mode: vertical-lr; text-orientation: upright; font-size: 1.8rem;">
                ALFA
            </span>
            <span class="alpha-icon px-5">
                &alpha;
                <span class="alpha-icon px-5">
                    &alpha;
                </span>
                &alpha;
            </span>
        </div>
        <div class="call-to-act pl-5 my-auto">
            <div class="big-text">
                Automated<br>Log File Analyzer
            </div>
            <div class="action-btns">
                <a routerLink="/" class="btn btn-default bg-white btn-lg mt-3 py-2 px-4">
                    <!-- Analyze Log Files -->
                    Give Alfa a Try
                </a>
                <a href="../../assets/docs/user-manual.pdf" class="btn btn-default btn-lg mx-3 mt-3 py-2 px-4" target="blank">
                    <strong>Step by Step Guide</strong>
                </a>
            </div> 
        </div>
 
    </div>
</section>
<section class="row pb-5" id="about">
    <div class="col-sm-12 col-md-12 col-lg-8 mx-auto text-center">
        <h4 id="logo" class="mb-5">
            <span class="alpha-icon">
                &alpha;
            </span>
            ALFA
        </h4>
        <h4 style="font-weight: bold;">
            <p class="text-muted">We bring the fun back to programming</p>
            It's always been there! We just make it more fun by significantly reducing the amount of time spent tracing the fun spoiling errors in your code, you simply have to upload the log file. Confusing error message? Don't know what to type on Google's search bar? <a routerLink="/" class="text-dark">Try ALFA</a>... Yes, right now
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia accusantium vitae beatae at quis illum dignissimos cupiditate, voluptas magni? Maiores in aliquid magnam laborum dolorum vel vitae, numquam nobis. -->
        </h4>
    </div>
    <div class="col-sm-12 p-4" id="how-it-works">
        <div class="how-steps p-3">
            <img src="../../assets/img/ai.png" alt="We are ALFA illustration">
            <h4 class="text-center my-3"><strong>We Are</strong></h4>
            <p class="text-center text-muteds">ALFA, the Automated Log File Analyser. ALFA is a Single-Page Application used to scan and analyse log files then  intelligently provide suggestions or potential solutions to issues encountered on the log files.</p>
        </div>
        <div class="how-steps p-3">
            <img src="../../assets/img/data-proc.png" alt="data proccessing illustration">
            <h4 class="text-center my-3"><strong>Upload Log File</strong></h4>
            <p class="text-center text-muted">Users can drag-and-drop (or select) one or multiple<span class="text-muted small">*</span> log files to upload. The system will then use its knowledge-base database that stores articles of the encountered problems and intelligently search and retrieve the relevant articles that are potential solutions to the analyzed log file problems.</p>
            <p class="small text-center text-muted pt-3" style="opacity: .5">* A maximum of 5 log files</p>
        </div>
        <!-- <div class="how-steps p-3" style="transform: translatey(20px)">
            <img src="../../assets/img/file-analysis.png" alt="">
            <h4 class="text-center my-3"><strong>Analyze Log File</strong></h4>
            <p class="text-center text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod temporibus atque ea rerum nobis asperiores illum adipisci eos magni deleniti corporis tempore impedit, iste fugit totam architecto cumque repudiandae dignissimos.</p>
        </div> -->
    </div>
    <div class="col-sm-12 text-center call-to-act2">
        <a routerLink="/" class="btn btn-default btn-lg mx-3 my-3 py-1 px-4">
            <strong>Analyze Log Files</strong> 
        </a>
    </div>
</section>