#update-container{
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}
#update-articles-btn{
    border-radius: 30px;
    transition: all .1s ease-out;
    font-size: 1.4rem;
    font-weight: bold;
    min-height: 60px;
    background-color: #7851A9;
    color: #fff;
}