<nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="navbar">
    <div class="container">
        <a href="javascript: void()" class="navbar-brand" title="Autamated Log File Analyzer">
            <span class="alpha-icon">&alpha;</span>
            ALFA
        </a>
        <div class="navbar-collapse collapse justify-content-end">
            <div class="navbar-nav">
                <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/" class="nav-link">Home</a>
                </div>
                <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/about" class="nav-link">How it Works</a>
                </div>
                <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/history" class="nav-link">Analysis History</a>
                </div>
            </div>
        </div>
    </div>
</nav>