<nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="navbar">
  <div class="container">
    <a routerLink="/" class="navbar-brand" title="Autamated Log File Analyzer">
      <span class="alpha-icon">&alpha;</span>
      ALFA
    </a>
    <div class="navbar-collapse collapse justify-content-end">
      <div class="navbar-nav">
        <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/" class="nav-link">Home</a>
        </div>
        <div class="nav-item" *ngIf="auth.user$ | async as user" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </div>
        <div
          class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/about" class="nav-link">How it Works</a>
        </div>
        <!-- <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/history" class="nav-link">Analysis History</a>
                </div> -->
        <div *ngIf="auth.user$ | async; then user; else guest"></div>
        <ng-template #guest>
            <div class="nav-item px-2">
                <button class="nav-link py-1" id="sign-in-btn" (click)="auth.googleSignIn()" title="Sign in with google">
                    <i class="fa fa-google"></i> SIGN IN
                </button>
            </div>
        </ng-template>
        <ng-template #user>
            <div class="nav-item px-2" *ngIf="auth.user$ | async as user">
                <div class="dropdown">
                    <button class="nav-link py-0 pl-0" id="account-btn" data-toggle="dropdown">
                        <img src="{{ user.photoURL }}" alt="Avatar" class="img-reponsive avatar">
                        <span class="px-1">{{ user.displayName }} <i class="fa fa-caret-down"></i></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a routerLink="/profile" class="dropdown-item nav-item text-left px-1 active mb-1" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                            Profile
                        </a>
                        <a routerLink="/history" class="dropdown-item nav-item text-left px-1 mb-1" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                            Analysis History
                        </a>
                        <button class="dropdown-item text-center my-2" id="sign-in-btn" (click)="auth.signOut()">
                            Sign Out
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
