<nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="navbar">
  <div class="container">
    <a routerLink="/" class="navbar-brand" title="Autamated Log File Analyzer">
      <span class="alpha-icon">&alpha;</span>
      ALFA
    </a>
    <div class="navbar-collapse collapse justify-content-end">
      <div class="navbar-nav">
        <div
          class="nav-item"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/" class="nav-link">Home</a>
        </div>
        <div
          class="nav-item"
          *ngIf="isLoggedIn === true"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </div>
        <div
          class="nav-item"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/about" class="nav-link">How it Works</a>
        </div>
        <!-- <div class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/history" class="nav-link">Analysis History</a>
                </div> -->
        <div *ngIf="auth.user$ | async; then user; else guest"></div>
        <ng-template #guest>
          <div class="nav-item px-2">
            <button
              class="nav-link py-1"
              id="sign-in-btn"
              (click)="auth.googleSignIn()"
            >
              SIGN IN
            </button>
          </div>
        </ng-template>
        <ng-template #user>
          <div class="nav-item px-2" *ngIf="auth.user$ | async as user">
            <button
              class="nav-link py-1"
              id="sign-in-btn"
              (click)="auth.signOut()"
            >
              SIGN OUT
            </button>
            <img
              src="{{ user.photoURL }}"
              class="img-circle"
              height="10px"
              width="10px"
            />
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
