<section class="row" id="history-section">
    <!-- <div class="col-12" id="tags-container">
        Tags Coming soon
    </div> -->
    <div *ngIf="loading === true" class="col-sm-12 py-3 loaders-container">
        <app-loader></app-loader>
    </div>
    <div *ngIf="loading === false" class="col-sm-10 col-md-8 px-1">
        <ul class="list-group p-0">
            <li class="list-group-item p-0" *ngFor="let item of history">
                <app-analysis-result [analysisResult]="data" *ngFor="let data of item"></app-analysis-result>
            </li>
        </ul>
    </div>
</section>
<app-suggestion-box></app-suggestion-box>