#analysis-result{
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    transition: all .2s ease-out;
}
#analysis-result:hover{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .15);
}
.article-origin{
    transform: translateY(-10px);
    opacity: .5;
}
.article-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
}
.list-group{
    border: 1px solid #ecf3ff;
    background-color: #ecf3ff;
}
li.list-group-item{
    border: none;
    background: none;
    margin: 0px;
    padding: 5px 15px;
}
li.list-group-item:nth-child(odd){
    background-color: #fff;
}
.solution-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-group{
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
}
.article-feedback a, .article-open a{
    outline: none !important;
    box-shadow: none !important;
    transition: all .2s ease-out;
}
.article-suggest{
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: none;
}
.article-suggest:hover, .article-open:hover{
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .15);
}
.article-feedback a:hover{
    transform: scale(1.03);
}

.btn-link{
    box-shadow: none !important;
}