.analysis-result{
    border: 1px solid #555;
    border-radius: 8px;
    background: #333;
    transition: all .2s ease-out;
}
.results-toggler{
    background: #333;
}
.article-origin{
    transform: translateY(-10px);
    opacity: .5;
    color: #ddd;
}
.article-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
}
.list-group{
    border: 1px solid #555;
    background-color: #222;
}
li.list-group-item{
    border: none;
    background: none;
    margin: 0px;
    padding: 5px 15px;
}
li.list-group-item:nth-child(odd){
    background-color: #333;
}
.solution-description{
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.share-to-apps.collapse:not(.show){
    visibility: hidden;
    transition: all .3s ease-out;
}
.share-to-apps.collapse.show{
    visibility: visible;
    transition: all .3s ease-out;
}
.share-to-apps{
    visibility: hidden;
    position: absolute;
    bottom: 38px;
    right: 0px;
    width: 120px;
    min-height: 60px;
    display: grid !important;
    grid-template-areas:
    "whatsapp copyurl";
    /* "twitter facebook"; */
    background: #444;
    border: 1px solid #333;
    border-radius: 8px;
    column-gap: 4px;
    row-gap: 4px;
    padding: 2px;
    transition: all .3s ease-out;
}
.share-to-apps a{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    border-radius: 8px;
}
.share-to-apps a:hover{
    background: rgba(0, 0, 0, .22);
}

.btn-group{
    border: 1px solid #555;
    border-radius: 30px;
    display: inline-block;
    background-color: #444;
    overflow: hidden;
}
.btn-group>span{
    color: #ddd;
}
.article-feedback a, .article-open a{
    color: #ddd;
    background-color: #444;
    outline: none !important;
    box-shadow: none !important;
    transition: all .2s ease-out;
}
.article-suggest, .btn-share{
    color: #ddd;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 30px;
    box-shadow: none;
    transition: all .2s ease-out;
}
.article-suggest:hover, .btn-share:hover, .article-open a:hover{
    background-color: #555;
}
.article-feedback a:hover{
    color: #ddd !important;
    background-color: #555;
}

.btn-link{
    box-shadow: none !important;
}

.comment-section{
    background: #222;
}