<div class="row">
    <!-- <div class="col-12 my-3">
        <div class="card panel-item bg-info" id="accuracy">
            <div class="card-body py-1">
                <h2 class="text-center">
                    <i class="fa fa-crosshairs"></i>
                </h2>
                <p class="small m-0">92% Accuracy</p>
            </div>
        </div>
    </div> -->
    <div class="col-12 mb-3 my-3">
        <div class="card panel-item bg-success" id="logfiles-stats">
            <div class="card-body py-1">
                <h2 class="text-center">
                    <i class="fa fa-line-chart"></i>
                </h2>
                <p class="small m-0">{{logfileCount}} Logfiles Analyzed</p>
            </div>
        </div>
    </div>
</div>