<section id="message-container">
    <div class="row">
        <div class="col-10 col-md-5 col-lg-4 mx-auto p-0" id="body">
            <div id="snackbar" class="my-5 p-3" [class]="(show === true)? 'show':null">
                <div class="message">
                    {{message}}
                </div>
                <div class="action ml-auto">
                    <button (click)="toggleVisibility()" class="btn btn-default">
                        &times;
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>