<section *ngIf="show" id="message-container">
    <div class="row">
        <div class="col-10 col-md-4 col-lg-3 mx-auto p-0" id="body">
            <div class="card m-0">
                <div class="card-body" style="color: #212529">
                    <p class="mb-0 text-center">
                        {{message}}
                    </p>
                </div>
                <div class="card-footer text-right py-1">
                    <button (click)="toggleVisibility()" data-toggle="modal" data-target=".message-modal" class="btn btn-link">
                        OKAY
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>