<section class="row" id="sign-up">
    <div class="col-12 flex-column">
        <div class="card" id="sign-up-card">
            <div class="card-body p-0">
                <div class="row m-0">
                    <div class="col-6">
                        <h4 class="text-center mt-3 mb-0">SIGN UP HERE</h4>
                        <form [formGroup]="formData" (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="custom-input form-group mt-4 mb-4">
                                <label class="label-text" for="userFullname">Full Name</label>
                                <input type="text" class="form-control inField" formControlName="fullname" id="userFullname" placeholder="">
                            </div>
                            <div class="custom-input form-group mt-4 mb-4">
                                <label class="label-text" for="userEmail">Email </label>
                                <input type="email" class="form-control inField" formControlName="email" id="userEmail" placeholder="">
                            </div>
                            <div class="custom-input form-group mt-4">
                                <label class="label-text" for="userPassword">Password</label>
                                <input type="password"  formControlName="password" class="form-control inField" id="userPassword" placeholder="">
                            </div>
                            <div class="text-center">
                                <button id="signup-btn" type="submit" class="btn btn-block">Sign Up</button>
                                <p class="text-left px-2 mt-4">
                                    Already Have an Account? Sign in <a routerLink="/signin" class="btn btn-link text-primary px-0"><b>here</b></a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 bg-purple">
                        <img id="logo" class="img-responsive mx-auto" src="../../assets/img/logo.png" alt="ALFA LOGO">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


