<section class="row pb-3" id="profile">
    <div class="col-12 loaders-container" *ngIf="!user">
        <app-loader></app-loader>
    </div>
    <div class="col-12 col-md-12 p-3" *ngIf="user" id="profile-details">
        <img [src]="user.photoURL" alt="profile ALFA picture" class="img-responsive">
        <p class="small text-muted mt-1">{{user.email}}</p>
        <h4>Welcome, {{user.displayName}}</h4>
        <div class="col-sm-12 col-md-3">
            <div class="card stat px-3 py-2 mt-3 text-center">
                <h4><strong>12</strong></h4>
                <p class="mb-0">Logfiles analyzed</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 mx-auto text-center">
        Your account is managed by a third party (<a href="https://accounts.google.com/AccountChooser" target="_blank">Google</a>), we only use it to identify you.
    </div>
</section>