<div class="card">
    <div class="card-body">
        <!-- <h4 class="text-center mb-3">Popular</h4> -->
        <div>
            <span class="badge badge-success px-3 py-1 m-2">Logs</span>
            <span class="badge badge-primary px-3 py-1 m-2">Unstructed Logs</span>
            <span class="badge badge-info px-3 py-1 m-2">Log Analysis</span>
            <span class="badge badge-secondary px-3 py-1 m-2" style="background: #7851a9">Log Parsing</span>
            <span class="badge badge-warning px-3 py-1 m-2">Dataset</span>
            <span class="badge badge-danger px-3 py-1 m-2">Anomaly Detection</span>
        </div>
    </div>
</div>