<section class="row" id="form-section">
    <div class="col-sm-12 col-md-10 col-lg-8">
        <form id="analyze-form" (submit)="analyzeFiles($event)" (reset)="resetForm()"></form>
        <div class="card my-5 bg-white" style="border-radius: 8px;">
            <div class="card-body">
                <div id="logfile-inp-container">
                    <input type="file" id="logfile-inp" form="analyze-form" (change)="handleUploadFiles($event.target.files)" multiple required>
                    <p class="text-center py-3">
                        <span class="fa fa-file-code-o m-3" style="font-size: 5rem"></span>
                        <strong>Drag log file here to analyze</strong><br>
                        Or <a href="javascript: void()">choose your file</a><br>
                    </p>
                    <div class="loaders-container" *ngIf="filesReady == false">
                        <app-loader></app-loader>
                    </div>
                </div>
                <div id="file-list" *ngIf="filesToUpload.length > 0" class="mt-3 p-1 small text-muted">
                    Selected file(s): 
                    <ul class="list-inline m-0 mx-1">
                        <li *ngFor="let file of filesToUpload" class="list-inline-item btn-link">{{file.filename}}</li>
                    </ul>
                </div>
            </div>
           <div class="p-0 m-0" id="form-btn-group">
                <button type="reset" class="btn btn-lg m-3 mt-0 py-2" form="analyze-form" id="reset-form-btn">
                    Clear Form
                </button>
                <button type="submit" class="btn btn-lg m-3 mt-0 py-2" form="analyze-form" id="analyze-btn" [attr.data-toggle]="filesToUpload.length > 0? 'modal':''" data-target="#analysis-board-modal">
                    Analyze Files
                </button>
           </div>
        </div>
    </div>
</section>

<div class="modal fade in" id="analysis-board-modal">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="col-sm-12 text-center" style="border-radius: 8px; overflow: hidden; height: 250px;" *ngIf="isAnalyzing == true">
                    <div class="loaders-container flex-column">
                        <h4 class="mb-5"><strong>Analyzing Logfiles</strong></h4>
                        <app-loader></app-loader>
                        <p class="small text-muted mt-5">*This may take a while depending on the size and number of your logfiles</p>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="isAnalyzing === false">
                    <app-analysis-board *ngIf="isAnalyzing === false && resultsReady()" [analysisResults]="analysisResults"></app-analysis-board>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suggestion-box-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .3);">
            <div class="card-header" style="color: #7851A9;">
                <h4 class="m0">Suggestion Form</h4>
            </div>
            <div class="modal-body">
                <!-- <app-suggestion-box></app-suggestion-box> -->
            </div>
        </div>
    </div>
</div>