.row#form-section{
    display: flex;
    flex-direction: row;
}
.row#form-section>div{
    min-height: calc(90vh - 68px);
}

.modal-content, .modal-body{
    background-color: #fff;
    border: none !important;
    border-radius: 8px !important;
}

#analysis-results{
    min-height: 200px;
    background: #222;
    border-radius: 8px;
    overflow: hidden;
}